.todo_container {
  min-width: 250px;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  border-bottom: 4px solid black;
  position: relative;
}

.todo_container.completed {
  color: RGB(25, 135, 84);
}
.todo_container.pending {
  color: var(--color-secondary);
}
.todo_container.missed {
  color: #dc3545;
}

.todo_topic {
}
.todo_desc {
}
.todo_time {
}

.actions {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  top: 5px;
  right: 5px;
}
.update_todo_btn.update_todo_btn,
.delete_todo_btn.delete_todo_btn {
  padding: 0.125rem;
  font-size: 1.125rem;
  background-color: white;
  box-shadow: none;
}
.update_todo_btn {
  color: #777;
}
.delete_todo_btn {
  color: #dc3545;
}
